
<form id="results-form">
    <section id="daily-results">
        {{ daily }}
    </section>

    <section id="food-results">
        {{food}}
    </section>

    <section id="health-results">
        {{ health }}
    </section>

    <section id="shelter-results">
        {{ shelter }}
    </section>
</form>